*{
    margin: 0;
    padding: 0;
}


body{
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(gi.jpg);
    background-repeat: none;
   
}


h1{
    color: #ffffff;
}

.cont{
    background-color: #ffffff;
    width: 350px;
   text-align: center;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 450px;
}

a{
    color: #ffffff;
    font-size: 22px;
    word-spacing: 100px;
    text-align: right;
    text-decoration: none;
    font-family: sans-serif;
}
.menu{
    background-color: black;
    display: flex;
    width: 100%;
    height: 60px;
}

#pages{
    padding-left: 500px;
margin-top: 8px;
}
#mn{
    word-spacing: 50px;
    margin-top: 8px;
}

li{
  padding-left: 10px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
}
h4{
    margin-left: 50px;
    font-size: 22px;
    color: #ffffff;
    margin-top: 15px;
    color: rgb(152, 100, 250);
    word-spacing: 20px;
    
}
Marquee {
    color: #ffffff;
}
.bri{
    color: #ffff;
}

.footer{
    width: 100%;
    height: 70px;
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
    line-height: 32px;
}