*{padding: 0;
    margin: 0;
}

a{
    color: #ffffff;
    font-size: 22px;
    word-spacing: 100px;
    text-align: right;
    text-decoration: none;
    font-family: sans-serif;
}
.menu{
    background-color: black;
    display: flex;
    width: 100%;
    height: 60px;
}

#pages{
    padding-left: 500px;
margin-top: 8px;
}
#mn{
    word-spacing: 50px;
    margin-top: 8px;
}

li{
  padding-left: 10px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
}

h4{
    margin-left: 50px;
    font-size: 22px;
    color: #ffffff;
    margin-top: 15px;
    color: rgb(152, 100, 250);
    word-spacing: 20px;
    
}

h3{
    background-color: white;
    word-spacing: 20px;
}

h6{
    background-color: white;
    width: 100px; 
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
}

.links{
    margin-left: 500px;
    margin-top: 50px;
}
li{
    font-size: 40px;
    margin-top: 8px;
}